@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}
